.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

.section {
  width: 60%;
  margin: 0.5rem 0;

  h3 {
    margin: 0.6rem 0;
  }
  p {
    margin: 0.5rem;
  }
}

.languagesList {
  list-style: none;
  li {
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: space-between;
    margin: 0.2rem 2rem;
    p {
      margin: 0;
    }
  }
}

.subtitle {
  margin: 0 !important;
}
