$background: #141414;
$text: #bdbdbd;
$text-bright: #ededed;
$heading: $text-bright;
$glow: #f39f5a;
$highlight: $glow;
$link: $glow;
// $glow-yellow: #f39f5a;
// $purple-accent: #8168ff;
// $bright-green: #03c988;
