@use "colors";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  background-color: colors.$background;
  color: colors.$text;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: colors.$heading;
  }

  p,
  time {
    background-color: transparent;
  }
}

a {
  color: colors.$link;
  text-decoration: none;
}

header {
  a {
    color: colors.$heading !important;
  }
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
}
