.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.meanwhile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ignoreLink {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.section {
  width: 20rem;
  height: 10rem;
  margin: 0 1.5rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  p {
    width: 90%;
    height: fit-content;
    text-align: center;
    margin: 0;
  }

  b {
    color: colors.$link;
    text-decoration: none;
    font-weight: normal;
  }

  position: relative;
  outline: none;
  border-radius: 3px;
  border: 3px solid colors.$text;
  box-shadow: 0 0;
  transform: 0 0;
  transition-property: color, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;

  &:hover {
    transform: translate(-0.25rem, -0.25rem);
    box-shadow: 0.25rem 0.25rem;
    color: colors.$heading;
  }
}

.currentStatus {
  margin: 1rem 0 1rem 0;
  width: 80%;
  text-align: center;
  b {
    color: colors.$highlight;
  }
}

@media (max-width: 600px) {
  .article {
    width: 80vw;
    flex-direction: column;
    margin: 1rem 0;
    flex-wrap: nowrap;
  }

  .section {
    width: 80vw;
    height: 8rem;

    p {
      width: 85%;
      font-size: 0.8rem;
    }
  }

  .currentStatus {
    width: 85vw;
    text-align: center;
    font-size: 0.8rem;
  }

  .iconArticle {
    width: 90vw;

    a {
      width: 30px;
    }
  }

  .githubIcon {
    background-color: white;
    border-radius: 50%;
  }
}

@media (max-width: 340px) {
  .section {
    height: 9rem;
  }
}
