@use "colors";

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.meanwhile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ignoreLink {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.section {
  width: 22rem;
  height: 8rem;
  margin: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  p {
    width: 80%;
    height: fit-content;
    text-align: center;
    margin: 0;
  }

  position: relative;
  border: none;
  transition: transform 0.2s, background-color 0.2s;
  outline: none;
  border-radius: 3px;
  border: 3px solid transparent;

  &::after,
  &::before {
    border-radius: 3px;
  }

  &:hover {
    background-color: transparent;
    box-shadow: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid colors.$text;
    transition: opacity 0.3s, border 0.3s;
  }

  &:hover::before {
    opacity: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 3px solid colors.$link;
    opacity: 0;
    z-index: 1;
    transform: scaleX(1.1) scaleY(1.3);
    transition: transform 0.3s, opacity 0.3s;
  }

  &:hover::after {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
  }
}

.currentStatus {
  margin: 0 0 0.5rem 0;
}

.iconArticle {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0;
}

.githubIcon {
  background-color: white;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .article {
    width: 80vw;
    flex-direction: column;
    margin: 1rem 0;
    flex-wrap: nowrap;
  }

  .section {
    width: 80vw;
    height: 8rem;

    p {
      width: 85%;
      font-size: 0.8rem;
    }
  }
  
  .currentStatus {
    width: 85vw;
    text-align: center;

  }

  .iconArticle {
    width: 90vw;
    
    a {
      width: 30px;
    }
  }

  .githubIcon {
    background-color: white;
    border-radius: 50%;
  }
}

@media (max-width: 340px) {
  .section {
    height: 9rem;
  }
}