@use "colors";

.articleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        margin: auto;
    }
}

.articleTitle {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.articleDate {
    color: colors.$text;
}

@media (max-width: 600px) {
    .articleContainer {
        font-size: 0.7rem;

        img {
            max-width: 200px;
        }
        blockquote {
            margin-left: 0.8rem;
            margin-right: 0;
        }
        ul {
            padding-left: 1.5rem;
        }
    }

    .articleTitle {
        font-size: 1.5rem;
    }

    .articleDate {
        color: colors.$text;
    }
}