.container {
  max-width: 65%;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.backToHome {
  margin: 3rem 0 0;
}

@media (max-width: 600px) {
  .container {
    max-width: 85%;
    padding: 0;
    margin: 0 auto 1.5rem;
  }
  
  .backToHome {
    margin: 0.5rem 0;
    text-align: center;
    font-size: 0.9rem;
  }
}