.main {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 500px;
  margin-bottom: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.listItem {
  margin: 1rem 0;
}

.link {
  text-decoration: none !important;
}

.div {
  font-size: 1.2rem;
  width: 40rem;
  height: fit-content;
  padding: 0.5rem 0.5rem 0.5rem;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  outline: none;
  border-radius: 3px;
  border: 3px solid colors.$text;
  box-shadow: 0 0;
  transform: 0 0;
  transition-property: color, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;

  &:hover {
    transform: translate(-0.25rem, -0.25rem);
    box-shadow: 0.25rem 0.25rem;
    color: colors.$text-bright;
  }
}

.projectsTitle {
  font-size: 1.3rem;
  margin: 0;
  word-wrap: normal;
}

.msRoot {
  margin: 0.5rem 0;
}

.msLabel {
  font-size: 1.2rem;
}

.msInput {
  background-color: colors.$background;
  width: 40rem;
  border: 3px solid colors.$text;
  font-family: "myFont";
  font-size: 0.9rem;

  &:hover,
  &:focus-within,
  &:active {
    border-color: colors.$link;
  }
}

.msPill {
  background-color: colors.$background;
  border: 1px solid colors.$heading;
  font-size: 0.9rem;
  height: 2rem;
  border-radius: 3px;

  span {
    height: fit-content;
    line-height: normal;
  }

  &:hover {
    border-color: colors.$link;
  }
}

.msPillsList {
  min-height: 2rem;
}

.msDropdown {
  background-color: colors.$background;
  border: 3px solid colors.$text;
}

.msOption {
  background-color: colors.$background;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within {
    background-color: colors.$text-bright;

    span {
      font-weight: 600;
      color: colors.$background;
    }
  }
}

.badge {
  margin: 0.25rem 0.25rem 0;
  background-color: colors.$text-bright;
  color: colors.$background;
  height: fit-content;
  padding: 2px 6px 2px 4px;
  border-radius: 3px;

  span {
    svg {
      color: colors.$background;
    }
  }
}

.badgeLabel {
  line-height: normal;
  color: colors.$background;
  font-size: 0.75rem;
}

.badgeSection {
  color: colors.$background;
}

@media (max-width: 600px) {
  .main {
    margin: 0 0 1rem;
  }

  .div {
    font-size: 0.9rem;
    width: 85vw;
    padding: 0.6rem 0.5rem;
  }

  .projectsTitle {
    font-size: 1rem;
    margin: 0;
    line-height: 1.5;
  }

  .msRoot {
    margin: 0.5rem 0;
  }

  .msLabel {
    font-size: 1rem;
  }

  .msInput {
    width: 85vw;
    font-size: 0.9rem;
  }

  .msPill {
    font-size: 0.8rem;
    height: 1.6rem;
  }

  .msPillsList {
    min-height: 1.6rem;
  }

  .badge {
    margin: 0.2rem 0.25rem 0;
    padding: 1px 6px 0px 2px;
  }

  .badgeLabel {
    font-size: 0.6rem;
  }
}
